@page
@model Rejupo.Pages_Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Division)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Division)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ControlNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
