@page
@model Rejupo.Pages_Admin_Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Autoryzacja</h2>

<h4>Użytkownik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form method="post">
            <input type="hidden" asp-for="RejupoUserID" />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RejupoUser.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RejupoUser.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RejupoUser.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RejupoUser.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RejupoUser.Division)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RejupoUser.Division)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RejupoUser.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RejupoUser.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RejupoUser.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RejupoUser.PhoneNumber)
                </dd>

            </dl>
            <br/>
            <dl class="dl-horizontal"> </dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Input.IsSuperAdmin)
                </dt>
                <dd>
                    @Html.CheckBoxFor(model => model.Input.IsSuperAdmin)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Input.IsAdmin)
                </dt>
                <dd>
                    @Html.CheckBoxFor(model => model.Input.IsAdmin)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Input.IsUser)
                </dt>
                <dd>
                    @Html.CheckBoxFor(model => model.Input.IsUser)
                </dd>
            </dl>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Powrót do listy</a>
</div>

