@page
@namespace Rejupo.Data
@model Rejupo.Pages_Admin_Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Lista</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RejupoUser[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RejupoUser[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RejupoUser[0].Division)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RejupoUser[0].Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.RejupoUser[0].PhoneNumber)
            </th>

            <th>
                @SD.SuperAdmin
            </th>
            <th>
                @SD.Admin
            </th>
            <th>
                @SD.User
            </th>

            <th>
                Akcja
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RejupoUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.CheckBox("id", await Model.UserManager.IsInRoleAsync(item, SD.SuperAdmin), new { disabled = "disabled"})
            </td>
            <td>
                @Html.CheckBox("id", await Model.UserManager.IsInRoleAsync(item, SD.Admin),new { disabled = "disabled"})
            </td>
            <td>
                @Html.CheckBox("id", await Model.UserManager.IsInRoleAsync(item, SD.User),new { disabled = "disabled"})
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Autoryzacja</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
